/** <============= Обнуление стилей =============> */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/** <============= Основная погода =============> */

.weather_container {
	margin: 0 auto;
	width: 225px;
	height: auto;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 15px;
	background-image: url(https://sutochno.ru/doc/images/galleries/180/vershina1.jpg);
	background-size: cover;

}

.weather_title {
	height: 50px;
	min-height: 50px;
	margin: 6px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
}

.title_text {
	margin: 0 auto;
	font-size: 33px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #00568b;
}

.weather_time {
	height: 100px;
	min-height: 60px;
	margin: 7px 6px 6px 6px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.time_title {
	height: 50%;
	margin: 0 auto;
	font-size: 26px;
	color: #00568b;
}

.time {
	margin: 0 auto;
	font-size: 26px;
}

.indicators_container {
	height: 400px;
	margin: 7px 6px 6px 6px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.temperature_container {
	height: 25%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.temperature {
	margin: 0 auto;
	font-size: 40px;
	font-weight: bold;
}

.windspeed_container{
	display: flex;
	justify-content: center;
}

.windspeed {
	font-size: 26px;
}

.humidity_container {
	display: flex;
	justify-content: center;
}

.humidity {
	font-size: 26px;
}

.cloudcover_container {
	display: flex;
	justify-content: center;
}

.cloudcover {
	font-size: 26px;
}

.precipitation_container {
	display: flex;
	justify-content: center;
}

.precipitation {
	font-size: 26px;
}

img {
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 10px;
}

.refresh {
	width: 30px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	border: none;
	border-radius: 15px;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	transition: 0.5s ease;
}

.refresh:hover {
	transform: rotate(360deg);
	transition: 0.5s;
	box-shadow: 0 0 25px rgb(255, 255, 255);
	background-color: white;
}

.refresh>img {
	margin: 0 auto;
}